@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Poppins:ital,wght@0,100;1,900&family=Tourney:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Ocultando a Barra Lateral */
::-webkit-scrollbar {
    display: none;
}



/*Váriaveis de cores */
:root{
    --footer: #111;
    --primary:#FA9201;
    --cubos:#221618;
    --color_padrao: #fff;
    --header: #fafafa;
    --font: #521E1E;
    --black: #000;
    --footer: #111;
    --font-footer: white;
    --font-fff: #fff;
}


body {
    background: var(--primary);
}



/* Header */

header {
    background: var(--cubos);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: var(--primary);
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: var(--primary);
    font-weight: 400;
}

.login-button button {
    border: none;
    padding: 10px 15px;
    margin-top: 2vh;
    border-radius: 5px;
    background-color: var(--primary);
}

.login-button button a {
    text-decoration: none;
    color: var(--color_padrao);
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}


@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }

    .nav-item {
        display: none;
    }

    .login-button {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border:none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .login-button button {
        width: 100%;
    }

    .open {
        display: block;
    }
}

@media screen and (max-width: 300px) {
    .nav-bar {
        padding: 3rem 6rem;
    }

    .nav-item {
        display: none;
    }

    .login-button {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border:none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .login-button button {
        width: 100%;
    }

    .open {
        display: block;
    }
}

@media screen and (max-width: 300px) {
    .logo h1 {
       color: var(--primary);
        margin-right: 100%;
    }

    .nav-bar {
        padding: 5rem 8rem;
    }

    .nav-item {
        display: none;
    }

    .login-button {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border:none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .login-button button {
        width: 100%;
    }

    .open {
        display: block;
    }
}



/* Section */

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section:nth-child(2) {
    color: #fff;
}

section:nth-child(3) {
    background: #fff;
    color: var(--color_padrao);
}

section:nth-child(4) {
    color: #fff;
    background: var(--header);
}

section:nth-child(5) {
    color: var(--color_padrao);
    background: var(--color_padrao);
}

section .container {
    margin: 100px;
}

section h1 {
    font-size: 60px;
}

section h2 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}


section .cards {
    display: flex;
}

section .cards .text-card {
    background: var(--cubos);
    margin: 20px;
    padding: 20px;
}

section .cards .text-card h3 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

@media (max-width: 900px) {
    section h1 {
        font-size: 40px;
    }

    section .cards {
        flex-direction: column;
    }

    .logo {
        flex-direction: column;
    }
}

@media (max-width: 300px) {
    section h1 {
        font-size: 20px;
    }

    section .cards {
        flex-direction: column;
    }

    .logo {
        flex-direction: column;
    }
}



/* Video */

.hero {
    width: 100%;
    min-height: 80vh;
    background-image: linear-gradient(rgba(12,3,51,0.3), rgba(12,3,51,0.3));
    position: relative;
    display: flex;
}

.hero .content {
    text-align: left;
}

.hero .content h1 {
    font-size: 70px;
    color: #fff;
    font-weight: 600;
    position: absolute;
    width: 30%;
    height: 237px;
    left: 5vw;
    top: 10%;
}

.back-video {
    width: 100%;
    position: absolute;
    right: 0;
    z-index: -1;
}

@media (max-width: 1250px) {
    .hero {
        width: 100%;
        min-height: 70vh;
        background-image: linear-gradient(rgba(12,3,51,0.3), rgba(12,3,51,0.3));
        position: relative;
        display: flex;
    }
    
    .hero .content {
        text-align: left;
    }
    
    .hero .content h1 {
        font-size: 70px;
        color: #fff;
        font-weight: 600;
        position: absolute;
        width: 30%;
        height: 237px;
        left: 5vw;
        top: 10%;
    }
    
    .back-video {
        width: 100%;
        position: absolute;
        right: 0;
        z-index: -1;
    }   
}

@media (max-width: 1080px) {
    .hero {
        width: 100%;
        min-height: 60vh;
        background-image: linear-gradient(rgba(12,3,51,0.3), rgba(12,3,51,0.3));
        position: relative;
        display: flex;
    }
    
    .hero .content {
        text-align: left;
    }
    
    .hero .content h1 {
        font-size: 70px;
        color: #fff;
        font-weight: 600;
        position: absolute;
        width: 30%;
        height: 237px;
        left: 5vw;
        top: 10%;
    }
    
    .back-video {
        width: 100%;
        position: absolute;
        right: 0;
        z-index: -1;
    }   
}

@media (max-width: 912px) {
    .hero {
        width: 100%;
        min-height: 37vh;
        background-image: linear-gradient(rgba(12,3,51,0.3), rgba(12,3,51,0.3));
        position: relative;
        display: flex;
    }
    
    .hero .content {
        text-align: left;
    }
    
    .hero .content h1 {
        font-size: 70px;
        color: #fff;
        font-weight: 600;
        position: absolute;
        width: 30%;
        height: 237px;
        left: 5vw;
        top: 10%;
    }
    
    .back-video {
        width: 100%;
        position: absolute;
        right: 0;
        z-index: -1;
    }   
}

@media (max-width: 730px) {
    .hero {
        width: 100%;
        min-height: 40vh;
        background-image: linear-gradient(rgba(12,3,51,0.3), rgba(12,3,51,0.3));
        position: relative;
        display: flex;
    }
    
    .hero .content {
        text-align: left;
    }
    
    .hero .content h1 {
        font-size: 70px;
        color: #fff;
        font-weight: 600;
        position: absolute;
        width: 30%;
        height: 237px;
        left: 5vw;
        top: 10%;
    }
    
    .back-video {
        width: 100%;
        position: absolute;
        right: 0;
        z-index: -1;
    }   
}

@media (max-width: 414px) {
    .hero {
        width: 100%;
        min-height: 25vh;
        background-image: linear-gradient(rgba(12,3,51,0.3), rgba(12,3,51,0.3));
        position: relative;
        display: flex;
    }
    
    .hero .content {
        text-align: left;
    }
    
    .hero .content h1 {
        font-size: 70px;
        color: #fff;
        font-weight: 600;
        position: absolute;
        width: 30%;
        height: 237px;
        left: 5vw;
        top: 10%;
    }
    
    .back-video {
        width: 100%;
        position: absolute;
        right: 0;
        z-index: -1;
    }   
}

@media (max-width: 375px) {
    .hero {
        width: 100%;
        min-height: 31vh;
        background-image: linear-gradient(rgba(12,3,51,0.3), rgba(12,3,51,0.3));
        position: relative;
        display: flex;
    }
    
    .hero .content {
        text-align: left;
    }
    
    .hero .content h1 {
        font-size: 70px;
        color: #fff;
        font-weight: 600;
        position: absolute;
        width: 30%;
        height: 237px;
        left: 5vw;
        top: 10%;
    }
    
    .back-video {
        width: 100%;
        position: absolute;
        right: 0;
        z-index: -1;
    }   
}

@media (max-width: 360px) {
    .hero {
        width: 100%;
        min-height: 27vh;
        background-image: linear-gradient(rgba(12,3,51,0.3), rgba(12,3,51,0.3));
        position: relative;
        display: flex;
    }
    
    .hero .content {
        text-align: left;
    }
    
    .hero .content h1 {
        font-size: 70px;
        color: #fff;
        font-weight: 600;
        position: absolute;
        width: 30%;
        height: 237px;
        left: 5vw;
        top: 10%;
    }
    
    .back-video {
        width: 100%;
        position: absolute;
        right: 0;
        z-index: -1;
    }   
}





/* Parte da Vitória */

body .cards-vi {
    background: #F6F9FF;
   
   
    justify-content: center;

    display: flex;
   
    background-image: url(image/img-1.jpg);
  
    background-repeat: no-repeat;
    background-size: cover;
    object-fit:cover;

    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

main.cards-vi {
    display: flex;
    padding: 50px;
}

main.cards-vi .card.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #221618;
    padding: 1rem 7.3rem;
    border-radius: 8px;
    margin-right: 50%;
    width: 500px;
    height: 350px;
    color: #fff;
}


main.cards-vi .card.shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 65px;
    margin-bottom: 80px;
    background: #221618;
    padding: 1rem 7.3rem;
    border-radius: 8px;
    margin-left: 50%;
    width: 500px;
    height: 350px;
    color: #fff;
}





.artista h3 {
    padding: 12px;
    border: 1px solid #ffa500;
    border-radius: 7px;
    height: 7vh;
    width: 18vw;
    background-color: #ffa500;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #000;  
    margin-top: -2rem;
}

.card.shop h3 {
    padding: 12px;
    border: 1px solid #ffa500;
    border-radius: 7px;
    height: 7vh;
    width: 18vw;
    background-color: #ffa500;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    margin-top: -2rem;
    color: #000; 
    
}


main.cards-vi .card button {
    padding: 0.5rem 3rem;
    text-transform: uppercase;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
    font-size: 80%;
    font-weight: 800;
    color: #fff;
    margin-bottom: 16px 0;
    
    
}

main.cards-vi .card.contact button {
    background: linear-gradient(to right, #9F66FF, #DFCBFF);
    background: #FA9201;
    margin-top: 4em;
}
main.cards-vi .card.shop button {
    background: linear-gradient(to right, #3E8AFF, #BBDEFF);
     background: #FA9201;
     margin-top: 2em;
}


main.cards-vi .card.contact {
    box-shadow: -25px 25px 20px rgba(0, 0, 0, 0.4);
    justify-content: left;
    margin-top: 4rem;
}

main.cards-vi .card.shop {
    box-shadow: -25px 25px 20px rgba(0, 0, 0, 0.4);
    justify-content: right;
}


.card.contact {
    justify-content: left;
    display: block;
}

.card.shop {
    justify-content: right;
    margin-top: 18rem;
    display: block;
    
}


/* Parte Kauã */

.container-three p{
    font-size: 22px;
    font-weight: 500;
    color: var(--footer);
    margin-right: 20%;
    margin-top: 5%;
}

.btn-three button{
    background: var(--primary);
    color: var(--font);
    display: flex;
    margin-top: 20%;
    margin-right: 60%;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 15px 80px;
    font-size: 20px;
    font-weight: 600;
}

.btn-three button:hover {
    color: var(--font-fff);
    cursor: pointer;
    transition: 2s;
}


.img-three {
    position: relative;
    width: 55%;
    margin-left: 50%;
    margin-top: -15%;
}

/* Footer */

body .footer-content {
    font-family: sans-serif;
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--footer);
    height: auto;
    padding-top: 40px;
    width: 100vw;
    color: var(--font-footer);
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

h3 {
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    
    font-size: 14px;
    color: #cacdd2;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials li a {
    text-decoration: none;
    color: var(--font-fff);
    border: 1.1px solid white;
    padding: 8px;
    border-radius: 50%;
    width: 35px;
}

.socials li a:hover {
    color: var(--primary);
}

.footer-menu {
    margin-bottom: 20px;
}

.footer-menu ul {
    display: flex;
}

.footer-menu ul li {
    padding-right: 10px;
    display: block;
}

.footer-menu ul li a {
    text-decoration: none;
    color: var(--font-fff);
    border: 1.3px solid white;
    border-radius: 50px;
    padding: 6px 15px;
}

.footer-menu ul li a:hover {
    color: var(--primary);
}

.footer-bottom {
    background: #000;
    margin-top: 10px;
    width: 100vw;
    padding: 20px;
    text-align: center;
}

.footer-bottom .footer-p {
    text-align: center;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom p a {
    color: var(--primary);
    font-size: 16px;
    text-decoration: none;
}

/* make it responsive */

@media (max-width: 500px) {
    .footer-menu ul {
        display: inline;
    }
    .footer-menu ul li {
        margin-top: 20px;
    }
}

































